
body{
  margin:0;
  /* color: #40514E; */
  
  text-align: center;
  background-color: #000814;
  /* background-color: #2f3e46; */
  /* background-color: #6c757d; */
  /* background-color: #E4F9F5; */
  font-family: 'Arvo', serif;

}

/*----------- circles------------ */





.topp{
  position: absolute;
  bottom: 10px;
  /* /* margin-left: 90%; */
  left:50%;
  top: 80%;
  /* top: 10%; */ 
}




.burg{
  position: absolute;
  bottom: 10px;
  /* /* margin-left: 90%; */
  left:80%;
  top: 90%;
   
}


/* --------------------- */




/* ------------------------ */

.dropbtn {
  background-color: #000814;

  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #000814;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  right: 10px;
 
  position: absolute;
  background-color: #000814;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* -------------ends here------------- */

.fdnotes{
  /* margin-left: 50%; */
}

/* -------card view last */

.tiltt{
  -webkit-transform:rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.gitt{
  margin-left: 135%;
  margin-top: 250%;
}

.nat{
  padding-left: 80%;
}
.card {
 
  background-color: var(--background);
  display: block;
 
  width: 300px;
  min-height: 90px;
  cursor: pointer;
  padding: 15px;
  /* margin: calc(50vh - 30px) auto 0 auto; */
  border: 3px solid var(--primary);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
}

.card:hover {
  animation: shadow-wave 1s ease infinite;
}


@keyframes shadow-wave {
  0% {
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
      20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
      30px -30px 0 -3px var(--background), 30px -30px var(--orange),
      40px -40px 0 -3px var(--background), 40px -40px var(--red);
  }
  20% {
    border: 3px solid var(--red);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
      20px -20px 0 -3px var(--background), 20px -20px var(--green),
      30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
      40px -40px 0 -3px var(--background), 40px -40px var(--orange);
  }
  40% {
    border: 3px solid var(--orange);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
      20px -20px 0 -3px var(--background), 20px -20px var(--primary),
      30px -30px 0 -3px var(--background), 30px -30px var(--green),
      40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
  }
  60% {
    border: 3px solid var(--yellow);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
      20px -20px 0 -3px var(--background), 20px -20px var(--red),
      30px -30px 0 -3px var(--background), 30px -30px var(--primary),
      40px -40px 0 -3px var(--background), 40px -40px var(--green);
  }
  80% {
    border: 3px solid var(--green);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
      20px -20px 0 -3px var(--background), 20px -20px var(--orange),
      30px -30px 0 -3px var(--background), 30px -30px var(--red),
      40px -40px 0 -3px var(--background), 40px -40px var(--primary);
  }
  100% {
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
      20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
      30px -30px 0 -3px var(--background), 30px -30px var(--orange),
      40px -40px 0 -3px var(--background), 40px -40px var(--red);
  }
  
}








:root {
  --primary: #22D2A0;
  --secondary: #192824;
  --background: #192824;
  --green: #1FC11B;
  --yellow: #FFD913;
  --orange: #FF9C55;
  --red: #FF5555;
} 



.skills {
  background-image: radial-gradient(var(--secondary) 30%, var(--background) 30%);
  background-size: 2px 3px;
  font-family: "Archivo", sans-serif;
  color: var(--primary);
}

.card p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 14px;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
}





/* =----------------- */
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* -----------circles------------------ */

.weth{
  /* padding: 20px; */
  /* width: 50px; */
  width: 30%;
  float: right;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}




.topcorner{
  position:absolute;
  top:0;
  right:0;
 }

/* ----------------navbar ----------------*/

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); 
}

.overlay-content {
  position: relative;
  display: flexbox;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}





/* -------------------------------- */


/* -------------------nav icon-------------- */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
body {
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/escheresque_ste.png'); */
}
.menu {
  display: inline-block;
  position: absolute;
  width: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 62px;
  font-family:'Josefin Sans', sans-serif;
  color: #fff;
  cursor: pointer;
}
.menu::before,
.menu::after {
  position: absolute;
  transition: 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.menu:before {
  content: "M \00a0 \00a0 \00a0 \00a0 \00a0U";
  top: -60px;
  left: -100%;
  width: 215px;
}
.menu:after {
  content: "N";
  top: 50px;
  left: 96%;
}
.menu:hover::before,
.menu:hover::after {
  top: -4.3px;
  opacity: 1;
  transition: 0.2s ease, opacity 0.17s 0.03s ease-in;
}

.bar {
  width: 80%;
  height: 3px;
  background: white;
  margin: 0 auto 19px;
  transition: transform 0.4s ease;
}

/*.menu:hover .bar {*/
/*  transform: rotate(-10deg);*/
/*}*/








h1{
  width: 30%;
  margin: 100px auto 0 auto;
  line-height: 2;
  font-family:'Sacramento', cursive;
  font-size: 5.745rem;
  color: #66bfbf;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.rt{
  font-size: 15px;
  color: #f7fff7;
}

p{
font-family: 'Arvo', serif;
line-height: 2;
color: #f7fff7;
}

.par{
color: #6ddccf;
font-size: 2.0rem;
}

/* -------------Cards Section-------------- */
/* ------------1------------ */
.crd1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 97%;
 
}

.crd1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 #d8e2dc;
  transition: 0.3s;
}

img {
  
}

.container {
  padding: 2px 16px;
} */
/* --------------1----------------------- */


/* --------------2----------------------- */
.crd {
  box-shadow: 0 4px 8px 0 #d8e2dc;
  transition: 0.3s;
 
}

.crd:hover {
  box-shadow: 0 8px 16px 0 rgba(#212f45);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
/* --------------2---------------------- */



/* -------------Animations ---------------*/
#prg {
  border-right: solid 3px #3c6e71;
  white-space: nowrap;
  overflow: hidden;    
  
  margin:  auto;
}

/* Animation */
#prg {
  animation: animated-text 2s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 240px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color:  #66bfbf;}
  to{border-right-color: transparent;}
}



/* Animations end here */

/* ----------svg starts here--------------- */
* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
.top-container {
  /* margin-top: 13.5rem; */
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.top-container::before {
  content: "Hi There👋";
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}


/* ------------------------------------ */





h2{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66bfbf;
font-weight: normal;
padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
    color: #11999E;

}
.top-container{
  /* background-color: #E4F9F5; */
  /* background-size: 50% 100%; */
  /* background-color: #cccccc; */
  /* border: 2px solid; */
  position: relative;
  padding-top: 50px;

}

.skills{
  
  /* background-color: #246a73; */
}

.intro{
  width: 30%;
  margin: auto;
}
.middle-container{
margin:90px 0;
}

.bottom-container{
background-color: #66bfbf;
padding:50px 0 20px;
}

.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;

}

a{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}
.top-cloud{
  position: absolute;
  height: 20%;
  right: 300px;
  width: 20%;
  
}

hr{
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #d8ebe4;
}

.bottom-cloud{
position: absolute;
height: 20%;
left: 300px;
bottom: 150px;
width: 20%;
}

a[href*="http"]{
  background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
  color: #11999e;
}

.mount{
  /* height: 300px; */
}

.pp{
  height: 170px;
  width: 160px;
  border-radius: 100%;
}
.cod{
  float: left;
  width: 20%;
  border-radius: 100%;
  margin-bottom: 400px;
  margin-right: 20px;
}
.guitar{
  float: right;
  width: 20%;
  border-radius: 100%;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.80rem;
  padding:5px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 20px;
}

.ti{

}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


/* body section */


.night {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
          filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before, .shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
          transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
          transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -119px);
  left: calc(50% - 43px);
  -webkit-animation-delay: 4796ms;
          animation-delay: 4796ms;
}
.shooting_star:nth-child(1)::before, 
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 4796ms;
          animation-delay: 4796ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -43px);
  left: calc(50% - 37px);
  -webkit-animation-delay: 5944ms;
          animation-delay: 5944ms;
}
.shooting_star:nth-child(2)::before, 
.shooting_star:nth-child(2)::after{
  -webkit-animation-delay: 5944ms;
          animation-delay: 5944ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -40px);
  left: calc(50% - 222px);
  -webkit-animation-delay: 7556ms;
          animation-delay: 7556ms;
}
.shooting_star:nth-child(3)::before, 
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 7556ms;
          animation-delay: 7556ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - -29px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 7123ms;
          animation-delay: 7123ms;
}
.shooting_star:nth-child(4)::before, 
.shooting_star:nth-child(4)::after{
  -webkit-animation-delay: 7123ms;
          animation-delay: 7123ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 146px);
  left: calc(50% - 112px);
  -webkit-animation-delay: 3629ms;
          animation-delay: 3629ms;
}
.shooting_star:nth-child(5)::before, 
.shooting_star:nth-child(5)::after{
  -webkit-animation-delay: 3629ms;
          animation-delay: 3629ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 3895ms;
          animation-delay: 3895ms;
}
.shooting_star:nth-child(6)::before, 
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 3895ms;
          animation-delay: 3895ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
  -webkit-animation-delay: 7326ms;
          animation-delay: 7326ms;
}
.shooting_star:nth-child(7)::before, 
.shooting_star:nth-child(7)::after{
  -webkit-animation-delay: 7326ms;
          animation-delay: 7326ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 55px);
  left: calc(50% - 282px);
  -webkit-animation-delay: 956ms;
          animation-delay: 956ms;
}
.shooting_star:nth-child(8)::before, 
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 956ms;
          animation-delay: 956ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 129px);
  left: calc(50% - 296px);
  -webkit-animation-delay: 5030ms;
          animation-delay: 5030ms;
}
.shooting_star:nth-child(9)::before, 
.shooting_star:nth-child(9)::after{
  -webkit-animation-delay: 5030ms;
          animation-delay: 5030ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 131px);
  left: calc(50% - 249px);
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
}
.shooting_star:nth-child(10)::before, 
.shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 32px);
  left: calc(50% - 13px);
  -webkit-animation-delay: 157ms;
          animation-delay: 157ms;
}
.shooting_star:nth-child(11)::before, 
.shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 157ms;
          animation-delay: 157ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -57px);
  left: calc(50% - 165px);
  -webkit-animation-delay: 3364ms;
          animation-delay: 3364ms;
}
.shooting_star:nth-child(12)::before, 
.shooting_star:nth-child(12)::after{
  -webkit-animation-delay: 3364ms;
          animation-delay: 3364ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 189px);
  left: calc(50% - 213px);
  -webkit-animation-delay: 6822ms;
          animation-delay: 6822ms;
}
.shooting_star:nth-child(13)::before, 
.shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 6822ms;
          animation-delay: 6822ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -104px);
  left: calc(50% - 163px);
  -webkit-animation-delay: 9347ms;
          animation-delay: 9347ms;
}
.shooting_star:nth-child(14)::before, 
.shooting_star:nth-child(14)::after{
  -webkit-animation-delay: 9347ms;
          animation-delay: 9347ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -75px);
  left: calc(50% - 234px);
  -webkit-animation-delay: 4661ms;
          animation-delay: 4661ms;
}
.shooting_star:nth-child(15)::before, 
.shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 4661ms;
          animation-delay: 4661ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 176px);
  left: calc(50% - 51px);
  -webkit-animation-delay: 6650ms;
          animation-delay: 6650ms;
}
.shooting_star:nth-child(16)::before, 
.shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 6650ms;
          animation-delay: 6650ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -127px);
  left: calc(50% - 171px);
  -webkit-animation-delay: 3855ms;
          animation-delay: 3855ms;
}
.shooting_star:nth-child(17)::before, 
.shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 3855ms;
          animation-delay: 3855ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -130px);
  left: calc(50% - 295px);
  -webkit-animation-delay: 6509ms;
          animation-delay: 6509ms;
}
.shooting_star:nth-child(18)::before, 
.shooting_star:nth-child(18)::after{
  -webkit-animation-delay: 6509ms;
          animation-delay: 6509ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -108px);
  left: calc(50% - 209px);
  -webkit-animation-delay: 1403ms;
          animation-delay: 1403ms;
}
.shooting_star:nth-child(19)::before, 
.shooting_star:nth-child(19)::after{
  -webkit-animation-delay: 1403ms;
          animation-delay: 1403ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -19px);
  left: calc(50% - 9px);
  -webkit-animation-delay: 5083ms;
          animation-delay: 5083ms;
}
.shooting_star:nth-child(20)::before, 
.shooting_star:nth-child(20)::after{
  -webkit-animation-delay: 5083ms;
          animation-delay: 5083ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
 